:root {
    --body-background: #f1f7ff;
    --primary-color: #11A5FA;
    --secondary-color: #FF914D;
}

/* ELEMENTS */
body {
    background-color: var(--body-background);
}

input {
    border: 1px !important;
    background-color: var(--body-background) !important;
}

footer {
    --bottom: 0;
    position:absolute;
    width: 100%;
    border-top: 3px solid #d4e6f2;
    box-shadow: 8px 8px 80px #d4e6f2;
}

/* CLASSES */

.navbar-wrapper {
    background-color: #ffffff;
    margin-bottom: 2%;
    padding-bottom: 0%;
    box-shadow: 0 8px 8px #c5ced8;
}

.navbar {
    width: auto;
    margin: 0%;
    padding: 0%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
}

.navbar-item {
    height: 100%;
    padding-top: 4%;
}

.navbar-item:hover {
    --font-weight: bold;
    background-color: #e2f3fe50;
}

.navbar-active {
    background-color: #e2f3fe50;
    color: #11A5FA;
    border-bottom: 2px solid var(--secondary-color);
    background: var(--secondary-color);
    background: linear-gradient(0deg, rgba(252, 177, 130, 0.775) 0%, rgba(241,247,255,0.8393951330532212) 12%);
}

li.navbar-active::first-letter {
    color: var(--secondary-color);  
}

.brand {
    font-family: 'Air Strip Arabic', sans-serif;
    color: var(--primary-color);
    font-size: 40px;
}

.brand span {
    font-size: 60px;
    margin: 0px;
    padding: 0px;
}

.footer-links {
    list-style-type: none;
    float: right; 
    display: flex;
}

.footer-links li {
    margin-left:25px;
}

.page-title-wrapper {
    --margin-top: 2%;
    padding-bottom: 2%;
}

.page-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primary-color); 
}

h3.page-title::first-letter{
    color: var(--secondary-color);  
}

.card-contaier {
    padding-left: 0%;
    padding-right: 0%;
}

.card-product {
    width: 250px;
    margin: 3%;
    height: fit-content;
}

.card-details ul {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
}

.card-details li {
    padding: 3px;
    padding: 3px;
}

.card-details li:last-child {
    float: right;
    font-style: italic;
    padding-top: 15px;
}

/* MEDIAS */
@media only screen and (max-width: 400px) {
    div.brand {
        display: none;
    }

    div.card-contaier {
        padding: 5%;
    }

    div.card-product {
        max-width: 100%;
        margin: 3% 7% 0 7%;  
    }
}